# We started by importing the dependencies, creating, and then showing the dataframes.

In [11]:
#Dependencies
import pandas as pd
import numpy as np
import datetime as dt

In [12]:
#Filepath to csv file
file1 = "Space_Corrected.csv"
file2 = "SpaceMissions.csv"

In [13]:
#Create dataframes from csv files
Space_Corrected = pd.read_csv(file1)
SpaceMissions = pd.read_csv(file2)

#Show first dataframe
Space_Corrected

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.00,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.00,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.00,Success
...,...,...,...,...,...,...,...
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [14]:
#Show second dataframe
SpaceMissions

,Company,Launch Date,Launch Time,Launch Site,Temperature (° F),Wind speed (MPH),Humidity (%),Vehicle Type,Liftoff Thrust (kN),Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason
0,SpaceX,24-Mar-06,22:30,Marshall Islands,86.0,9.0,74.0,Falcon 1,343,470,22.25,1.5,FalconSAT-2,Research Satellite,20.0,Low Earth Orbit,Failure,Engine Fire During Launch
1,SpaceX,21-Mar-07,1:10,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,DemoSat,Mass simulator,NaN,Low Earth Orbit,Failure,Engine Shutdown During Launch
2,SpaceX,3-Aug-08,3:34,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,Trailblazer,Communication Satellite,NaN,Low Earth Orbit,Failure,Collision During Launch
3,SpaceX,3-Aug-08,3:34,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,"PRESat, NanoSail-D",Research Satellites,8.0,Low Earth Orbit,Failure,Collision During Launch
4,SpaceX,3-Aug-08,3:34,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,Explorers,Human Remains,NaN,Low Earth Orbit,Failure,Collision During Launch
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Boeing,11-Feb-02,17:43,Vandenberg,51.0,0.0,66.0,Delta II 7920-10C,3511,4800,38.90,3.0,Iridium IS-1,Communication Satellite,689.0,Low Earth Orbit,Success,NaN
146,Boeing,4-May-02,9:54,Vandenberg,59.0,8.0,67.0,Delta II 7920-10C,3511,4800,38.90,3.0,Aqua,Research Satellite,3117.0,Low Earth Orbit,Success,NaN
147,Boeing,3-Jul-02,6:47,Cape Canaveral,76.0,3.0,87.0,Delta II 7425,3020,1110,38.10,2.9,CONTOUR,Space Probe,328.0,Heliocentric Orbit,Success,NaN
148,Boeing,20-Nov-02,22:39,Cape Canaveral,72.0,5.0,73.0,"Delta IV Medium+ (4,2)",4895,6390,62.50,4.0,Eutelsat W5,Communication Satellite,3170.0,Geostationary Transfer Orbit,Success,NaN
149,Boeing,13-Jan-03,0:45,Vandenberg,50.0,0.0,100.0,Delta II 7320-10C,2533,2703,38.90,3.0,ICESat,Research Satellite,970.0,Sun-Synchronous Orbit,Success,NaN

# We merged both dataframes using concat.

In [15]:
#Merging both dataframes
space_df = pd.concat([Space_Corrected, SpaceMissions], axis=0, ignore_index=True)

space_df

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Company,Launch Date,Launch Time,...,Liftoff Thrust (kN),Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.00,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.00,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.00,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,11-Feb-02,17:43,...,3511.0,4800.0,38.9,3.0,Iridium IS-1,Communication Satellite,689.0,Low Earth Orbit,Success,NaN
4470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,4-May-02,9:54,...,3511.0,4800.0,38.9,3.0,Aqua,Research Satellite,3117.0,Low Earth Orbit,Success,NaN
4471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,3-Jul-02,6:47,...,3020.0,1110.0,38.1,2.9,CONTOUR,Space Probe,328.0,Heliocentric Orbit,Success,NaN
4472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,20-Nov-02,22:39,...,4895.0,6390.0,62.5,4.0,Eutelsat W5,Communication Satellite,3170.0,Geostationary Transfer Orbit,Success,NaN
4473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,13-Jan-03,0:45,...,2533.0,2703.0,38.9,3.0,ICESat,Research Satellite,970.0,Sun-Synchronous Orbit,Success,NaN

# We converted the 'datum' column in the space dataframe for future manipulation.

In [16]:
#Convert ['Datum'] column to datetime datatype
space_df['Datum'] = pd.to_datetime(space_df['Datum'], utc=True)

# We created a filtered dataframe by slicing the value in the location column by -3 in order to only include USA launches

In [17]:
#Create dataframe of only US launches
usa_df = space_df.loc[space_df['Location'].str.slice(-3) == 'USA']

#Print dataframe
usa_df

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Company,Launch Date,Launch Time,...,Liftoff Thrust (kN),Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-07-20 21:30:00+00:00,Falcon 9 Block 5 | ANASIS-II,StatusActive,50.0,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Northrop,"LP-0B, Wallops Flight Facility, Virginia, USA",2020-07-15 13:46:00+00:00,Minotaur IV | NROL-129,StatusActive,46.0,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4317,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-03-17 12:15:00+00:00,Vanguard | Vanguard 1,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4318,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-03-05 18:27:00+00:00,Juno I | Explorer 2,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00+00:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00+00:00,Juno I | Explorer 1,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00+00:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# We created a column that filtered the data by year and then split the data into 8 decades worth of launches.

In [ ]:
#Create a filter to search for launches that occured only during 2020
filter = pd.DatetimeIndex(usa_df['Datum']).year

#Create a year column and fill with the year of the launch for future data manipulation
usa_df['Year'] = filter

#Create new dataframe where launches occured in 2020
launches_20s = usa_df[usa_df['Year'] == 2020]

#Print dataframe
launches_20s

In [ ]:
#Create a filter to search between 2010 and 2019
filter_10s = (usa_df['Year'] >= 2010) & (usa_df['Year'] <= 2019)

#Create dataframe using criteria of filter above
launches_10s = usa_df.loc[filter_10s]

# #Print dataframe
launches_10s

In [ ]:
#Create a filter to search between 2000 and 2009
filter_00s = (usa_df['Year'] >= 2000) & (usa_df['Year'] <= 2009)

#Create a dataframe using filter from above
launches_00s = usa_df.loc[filter_00s]

#Print dataframe
launches_00s

In [ ]:
#Create a filter to search between 2000 and 2009
filter_90s = (usa_df['Year'] >= 1990) & (usa_df['Year'] <= 1999)

#Create a dataframe using filter from above
launches_90s = usa_df.loc[filter_90s]

#Print dataframe
launches_90s

In [ ]:
#Create a filter to search between 1980 and 1989
filter_80s = (usa_df['Year'] >= 1980) & (usa_df['Year'] <= 1989)

#Create a dataframe using filter from above
launches_80s = usa_df.loc[filter_80s]

#Print dataframe
launches_80s

In [ ]:
#Create a filter to search between 1970 and 1979
filter_70s = (usa_df['Year'] >= 1970) & (usa_df['Year'] <= 1979)

#Create a dataframe using filter from above
launches_70s = usa_df.loc[filter_70s]

#Print dataframe
launches_70s

In [ ]:
#Create a filter to search between 1960 and 1969
filter_60s = (usa_df['Year'] >= 1960) & (usa_df['Year'] <= 1969)

#Create a dataframe using filter from above
launches_60s = usa_df.loc[filter_60s]

#Print dataframe
launches_60s

In [ ]:
#Create a filter to search between 1950 and 1959
filter_50s = (usa_df['Year'] >= 1950) & (usa_df['Year'] <= 1959)

#Create a dataframe using filter from above
launches_50s = usa_df.loc[filter_50s]

#Print dataframe
launches_50s