In [10]:
#Dependencies
import pandas as pd
import numpy as np
import datetime as dt

In [11]:
#Filepath to csv file
file = "Space_Corrected.csv"

In [12]:
#Create dataframe from csv file
space_df = pd.read_csv(file)
space_df.head()

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

In [13]:
#Convert ['Datum'] column to datetime datatype
space_df['Datum'] = pd.to_datetime(space_df['Datum'], utc=True)

#Drop Unnamed columns
space_df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",2020-08-06 04:01:00+00:00,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",2020-07-30 21:25:00+00:00,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success
...,...,...,...,...,...,...,...
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00+00:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00+00:00,Juno I | Explorer 1,StatusRetired,NaN,Success
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00+00:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03 02:30:00+00:00,Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04 19:28:00+00:00,Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [17]:
#Rename ['Rocket'] column to ['Cost of Mission (in Millions)']
space_df.rename(columns={'Rocket': 'Cost of Mission(in Millions)'})

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",2020-08-06 04:01:00+00:00,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",2020-07-30 21:25:00+00:00,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success
...,...,...,...,...,...,...,...,...,...
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00+00:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00+00:00,Juno I | Explorer 1,StatusRetired,NaN,Success
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00+00:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03 02:30:00+00:00,Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04 19:28:00+00:00,Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [18]:
#Create dataframe of only US launches
usa_df = space_df.loc[space_df['Location'].str.slice(-3) == 'USA']

#Print dataframe
usa_df

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success
8,8,8,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-07-20 21:30:00+00:00,Falcon 9 Block 5 | ANASIS-II,StatusActive,50.0,Success
10,10,10,Northrop,"LP-0B, Wallops Flight Facility, Virginia, USA",2020-07-15 13:46:00+00:00,Minotaur IV | NROL-129,StatusActive,46.0,Success
...,...,...,...,...,...,...,...,...,...
4317,4317,4317,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-03-17 12:15:00+00:00,Vanguard | Vanguard 1,StatusRetired,NaN,Success
4318,4318,4318,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-03-05 18:27:00+00:00,Juno I | Explorer 2,StatusRetired,NaN,Failure
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00+00:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00+00:00,Juno I | Explorer 1,StatusRetired,NaN,Success
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00+00:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure

In [19]:
#Drop unnamed columns
usa_df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success
8,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-07-20 21:30:00+00:00,Falcon 9 Block 5 | ANASIS-II,StatusActive,50.0,Success
10,Northrop,"LP-0B, Wallops Flight Facility, Virginia, USA",2020-07-15 13:46:00+00:00,Minotaur IV | NROL-129,StatusActive,46.0,Success
...,...,...,...,...,...,...,...
4317,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-03-17 12:15:00+00:00,Vanguard | Vanguard 1,StatusRetired,NaN,Success
4318,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-03-05 18:27:00+00:00,Juno I | Explorer 2,StatusRetired,NaN,Failure
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00+00:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00+00:00,Juno I | Explorer 1,StatusRetired,NaN,Success
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00+00:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure

In [20]:
#Create a filter to search for launches that occured only during 2020
filter = pd.DatetimeIndex(usa_df['Datum']).year

#Create a year column and fill with the year of the launch for future data manipulation
usa_df['Year'] = filter

#Create new dataframe where launches occured in 2020
launches_20s = usa_df[usa_df['Year'] == 2020]

#Print dataframe
launches_20s

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,2020
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,2020
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success,2020
8,8,8,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-07-20 21:30:00+00:00,Falcon 9 Block 5 | ANASIS-II,StatusActive,50.0,Success,2020
10,10,10,Northrop,"LP-0B, Wallops Flight Facility, Virginia, USA",2020-07-15 13:46:00+00:00,Minotaur IV | NROL-129,StatusActive,46.0,Success,2020
17,17,17,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-06-30 20:10:00+00:00,Falcon 9 Block 5 | GPS III SV03,StatusActive,50.0,Success,2020
20,20,20,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-06-13 09:21:00+00:00,Falcon 9 Block 5 | Starlink V1 L8 & SkySat 16 ...,StatusActive,50.0,Success,2020
23,23,23,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-06-04 01:25:00+00:00,Falcon 9 Block 5 | Starlink V1 L7,StatusActive,50.0,Success,2020
25,25,25,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-05-30 19:22:00+00:00,Falcon 9 Block 5 | SpaceX Demo-2,StatusActive,50.0,Success,2020
27,27,27,Virgin Orbit,"Cosmic Girl, Mojave Air and Space Port, Califo...",2020-05-25 19:50:00+00:00,LauncherOne | Demo Flight,StatusActive,12.0,Failure,2020
30,30,30,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-05-17 13:14:00+00:00,Atlas V 501 | OTV-6 (USSF-7),StatusActive,120.0,Success,2020
34,34,34,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-04-22 19:30:00+00:00,Falcon 9 Block 5 | Starlink V1 L6,StatusActive,50.0,Success,2020
38,38,38,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-03-26 20:18:00+00:00,Atlas V 551 | AEHF 6,StatusActive,153.0,Success,2020
41,41,41,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-03-18 12:16:00+00:00,Falcon 9 Block 5 | Starlink V1 L5,StatusActive,50.0,Success,2020
45,45,45,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-03-07 04:50:00+00:00,Falcon 9 Block 5 | CRS-20,StatusActive,50.0,Success,2020
49,49,49,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-02-17 15:05:00+00:00,Falcon 9 Block 5 | Starlink V1 L4,StatusActive,50.0,Success,2020
50,50,50,Northrop,"LP-0A, Wallops Flight Facility, Virginia, USA",2020-02-15 20:21:00+00:00,Antares 230+ | CRS NG-13,StatusActive,85.0,Success,2020
51,51,51,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-02-10 04:03:00+00:00,Atlas V 411 | Solar Orbiter,StatusActive,115.0,Success,2020
56,56,56,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-01-29 14:06:00+00:00,Falcon 9 Block 5 | Starlink V1 L3,StatusActive,50.0,Success,2020
57,57,57,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-01-19 15:30:00+00:00,Falcon 9 Block 5 | Crew Dragon Inflight Abort ...,StatusActive,50.0,Success,2020
62,62,62,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-01-07 02:19:00+00:00,Falcon 9 Block 5 | Starlink V1 L2,StatusActive,50.0,Success,2020

In [21]:
#Drop unnamed columns
launches_20s.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,2020
2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,2020
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success,2020
8,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-07-20 21:30:00+00:00,Falcon 9 Block 5 | ANASIS-II,StatusActive,50.0,Success,2020
10,Northrop,"LP-0B, Wallops Flight Facility, Virginia, USA",2020-07-15 13:46:00+00:00,Minotaur IV | NROL-129,StatusActive,46.0,Success,2020
17,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-06-30 20:10:00+00:00,Falcon 9 Block 5 | GPS III SV03,StatusActive,50.0,Success,2020
20,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-06-13 09:21:00+00:00,Falcon 9 Block 5 | Starlink V1 L8 & SkySat 16 ...,StatusActive,50.0,Success,2020
23,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-06-04 01:25:00+00:00,Falcon 9 Block 5 | Starlink V1 L7,StatusActive,50.0,Success,2020
25,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-05-30 19:22:00+00:00,Falcon 9 Block 5 | SpaceX Demo-2,StatusActive,50.0,Success,2020
27,Virgin Orbit,"Cosmic Girl, Mojave Air and Space Port, Califo...",2020-05-25 19:50:00+00:00,LauncherOne | Demo Flight,StatusActive,12.0,Failure,2020
30,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-05-17 13:14:00+00:00,Atlas V 501 | OTV-6 (USSF-7),StatusActive,120.0,Success,2020
34,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-04-22 19:30:00+00:00,Falcon 9 Block 5 | Starlink V1 L6,StatusActive,50.0,Success,2020
38,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-03-26 20:18:00+00:00,Atlas V 551 | AEHF 6,StatusActive,153.0,Success,2020
41,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-03-18 12:16:00+00:00,Falcon 9 Block 5 | Starlink V1 L5,StatusActive,50.0,Success,2020
45,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-03-07 04:50:00+00:00,Falcon 9 Block 5 | CRS-20,StatusActive,50.0,Success,2020
49,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-02-17 15:05:00+00:00,Falcon 9 Block 5 | Starlink V1 L4,StatusActive,50.0,Success,2020
50,Northrop,"LP-0A, Wallops Flight Facility, Virginia, USA",2020-02-15 20:21:00+00:00,Antares 230+ | CRS NG-13,StatusActive,85.0,Success,2020
51,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-02-10 04:03:00+00:00,Atlas V 411 | Solar Orbiter,StatusActive,115.0,Success,2020
56,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-01-29 14:06:00+00:00,Falcon 9 Block 5 | Starlink V1 L3,StatusActive,50.0,Success,2020
57,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-01-19 15:30:00+00:00,Falcon 9 Block 5 | Crew Dragon Inflight Abort ...,StatusActive,50.0,Success,2020
62,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-01-07 02:19:00+00:00,Falcon 9 Block 5 | Starlink V1 L2,StatusActive,50.0,Success,2020

In [22]:
#Create a filter to search between 2010 and 2019
filter_10s = (usa_df['Year'] >= 2010) & (usa_df['Year'] <= 2019)

#Create dataframe using criteria of filter above
launches_10s = usa_df.loc[filter_10s]

# #Print dataframe
launches_10s

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
66,66,66,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2019-12-20 11:36:00+00:00,Atlas V N22 | Starliner OFT,StatusActive,NaN,Success,2019
69,69,69,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2019-12-17 00:10:00+00:00,Falcon 9 Block 5 | JCSAT-18 / Kacific-1,StatusActive,50.0,Success,2019
71,71,71,Blue Origin,"Blue Origin Launch Site, West Texas, Texas, USA",2019-12-11 17:55:00+00:00,New Shepard | NS-12,StatusActive,NaN,Success,2019
78,78,78,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2019-12-05 17:29:00+00:00,Falcon 9 Block 5 | CRS-19,StatusActive,50.0,Success,2019
87,87,87,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2019-11-11 14:56:00+00:00,Falcon 9 Block 5 | Starlink V1 L1,StatusActive,50.0,Success,2019
...,...,...,...,...,...,...,...,...,...,...
730,730,730,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2010-04-22 23:52:00+00:00,Atlas V 501 | OTV-1,StatusActive,120.0,Success,2010
733,733,733,NASA,"LC-39A, Kennedy Space Center, Florida, USA",2010-04-05 10:21:00+00:00,Space Shuttle Discovery | STS-131,StatusRetired,450.0,Success,2010
735,735,735,ULA,"SLC-37B, Cape Canaveral AFS, Florida, USA",2010-03-04 23:57:00+00:00,"Delta IV Medium+ (4,2) | GOES 15",StatusRetired,164.0,Success,2010
736,736,736,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2010-02-11 15:23:00+00:00,Atlas V 401 | SDO,StatusActive,109.0,Success,2010
737,737,737,NASA,"LC-39A, Kennedy Space Center, Florida, USA",2010-02-08 09:14:00+00:00,Space Shuttle Endeavour | STS-130,StatusRetired,450.0,Success,2010

In [23]:
#Drop unnamed columns
launches_10s.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
66,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2019-12-20 11:36:00+00:00,Atlas V N22 | Starliner OFT,StatusActive,NaN,Success,2019
69,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2019-12-17 00:10:00+00:00,Falcon 9 Block 5 | JCSAT-18 / Kacific-1,StatusActive,50.0,Success,2019
71,Blue Origin,"Blue Origin Launch Site, West Texas, Texas, USA",2019-12-11 17:55:00+00:00,New Shepard | NS-12,StatusActive,NaN,Success,2019
78,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2019-12-05 17:29:00+00:00,Falcon 9 Block 5 | CRS-19,StatusActive,50.0,Success,2019
87,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2019-11-11 14:56:00+00:00,Falcon 9 Block 5 | Starlink V1 L1,StatusActive,50.0,Success,2019
...,...,...,...,...,...,...,...,...
730,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2010-04-22 23:52:00+00:00,Atlas V 501 | OTV-1,StatusActive,120.0,Success,2010
733,NASA,"LC-39A, Kennedy Space Center, Florida, USA",2010-04-05 10:21:00+00:00,Space Shuttle Discovery | STS-131,StatusRetired,450.0,Success,2010
735,ULA,"SLC-37B, Cape Canaveral AFS, Florida, USA",2010-03-04 23:57:00+00:00,"Delta IV Medium+ (4,2) | GOES 15",StatusRetired,164.0,Success,2010
736,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2010-02-11 15:23:00+00:00,Atlas V 401 | SDO,StatusActive,109.0,Success,2010
737,NASA,"LC-39A, Kennedy Space Center, Florida, USA",2010-02-08 09:14:00+00:00,Space Shuttle Endeavour | STS-130,StatusRetired,450.0,Success,2010

In [24]:
#Create a filter to search between 2000 and 2009
filter_00s = (usa_df['Year'] >= 2000) & (usa_df['Year'] <= 2009)

#Create a dataframe using filter from above
launches_00s = usa_df.loc[filter_00s]

#Print dataframe
launches_00s

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
740,740,740,ULA,"SLC-2W, Vandenberg AFB, California, USA",2009-12-14 14:09:00+00:00,Delta II 7320-10C | WISE,StatusRetired,NaN,Success,2009
741,741,741,ULA,"SLC-37B, Cape Canaveral AFS, Florida, USA",2009-12-06 01:47:00+00:00,"Delta IV Medium+ (5,4) | WGS-3",StatusRetired,NaN,Success,2009
744,744,744,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2009-11-23 06:55:00+00:00,Atlas V 431 | Intersat 14,StatusActive,130.0,Success,2009
745,745,745,NASA,"LC-39A, Kennedy Space Center, Florida, USA",2009-11-16 19:28:00+00:00,Space Shuttle Atlantis | STS-129,StatusRetired,450.0,Success,2009
748,748,748,NASA,"LC-39B, Kennedy Space Center, Florida, USA",2009-10-28 15:30:00+00:00,Ares 1-X | Ares 1-X Test Flight,StatusRetired,450.0,Success,2009
...,...,...,...,...,...,...,...,...,...,...
1206,1206,1206,NASA,"LC-39A, Kennedy Space Center, Florida, USA",2000-02-11 16:43:00+00:00,Space Shuttle Endeavour | STS-99,StatusRetired,450.0,Success,2000
1208,1208,1208,Boeing,"SLC-17B, Cape Canaveral AFS, Florida, USA",2000-02-08 21:24:00+00:00,Delta II 7920-10C | Globalstar 7,StatusRetired,NaN,Success,2000
1209,1209,1209,ILS,"SLC-36B, Cape Canaveral AFS, Florida, USA",2000-02-03 23:30:00+00:00,Atlas IIAS | Hispasat 1C,StatusRetired,NaN,Success,2000
1210,1210,1210,Northrop,"SLC-8, Vandenberg AFB, California, USA",2000-01-27 03:03:00+00:00,Minotaur I | JAWSat,StatusActive,40.0,Success,2000
1213,1213,1213,Lockheed,"SLC-36A, Cape Canaveral AFS, Florida, USA",2000-01-21 01:03:00+00:00,Atlas IIA | DSCS IIIB-8,StatusRetired,NaN,Success,2000

In [25]:
#Drop unnamed columns
launches_10s.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
66,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2019-12-20 11:36:00+00:00,Atlas V N22 | Starliner OFT,StatusActive,NaN,Success,2019
69,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2019-12-17 00:10:00+00:00,Falcon 9 Block 5 | JCSAT-18 / Kacific-1,StatusActive,50.0,Success,2019
71,Blue Origin,"Blue Origin Launch Site, West Texas, Texas, USA",2019-12-11 17:55:00+00:00,New Shepard | NS-12,StatusActive,NaN,Success,2019
78,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2019-12-05 17:29:00+00:00,Falcon 9 Block 5 | CRS-19,StatusActive,50.0,Success,2019
87,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2019-11-11 14:56:00+00:00,Falcon 9 Block 5 | Starlink V1 L1,StatusActive,50.0,Success,2019
...,...,...,...,...,...,...,...,...
730,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2010-04-22 23:52:00+00:00,Atlas V 501 | OTV-1,StatusActive,120.0,Success,2010
733,NASA,"LC-39A, Kennedy Space Center, Florida, USA",2010-04-05 10:21:00+00:00,Space Shuttle Discovery | STS-131,StatusRetired,450.0,Success,2010
735,ULA,"SLC-37B, Cape Canaveral AFS, Florida, USA",2010-03-04 23:57:00+00:00,"Delta IV Medium+ (4,2) | GOES 15",StatusRetired,164.0,Success,2010
736,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2010-02-11 15:23:00+00:00,Atlas V 401 | SDO,StatusActive,109.0,Success,2010
737,NASA,"LC-39A, Kennedy Space Center, Florida, USA",2010-02-08 09:14:00+00:00,Space Shuttle Endeavour | STS-130,StatusRetired,450.0,Success,2010

In [26]:
#Create a filter to search between 2000 and 2009
filter_90s = (usa_df['Year'] >= 1990) & (usa_df['Year'] <= 1999)

#Create a dataframe using filter from above
launches_90s = usa_df.loc[filter_90s]

#Print dataframe
launches_90s

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
1214,1214,1214,Northrop,"SLC-576E, Vandenberg AFB, California, USA",1999-12-31 07:13:00+00:00,Minotaur C (Taurus) | KOMPSAT & ACRIMSAT,StatusActive,45.0,Success,1999
1218,1218,1218,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1999-12-20 00:50:00+00:00,Space Shuttle Discovery | STS-103,StatusRetired,450.0,Success,1999
1219,1219,1219,Lockheed,"SLC-3E, Vandenberg AFB, California, USA",1999-12-18 18:57:00+00:00,Atlas IIAS | Terra,StatusRetired,NaN,Success,1999
1220,1220,1220,Lockheed,"SLC-4W, Vandenberg AFB, California, USA",1999-12-12 17:36:00+00:00,Titan II(23)G | USA-147,StatusRetired,35.0,Success,1999
1223,1223,1223,Northrop,"Stargazer, Vandenberg AFB, California, USA",1999-12-04 18:53:00+00:00,Pegasus XL/HAPS | Orbcomm D1-D8,StatusActive,40.0,Success,1999
...,...,...,...,...,...,...,...,...,...,...
1842,1842,1842,Boeing,"SLC-17B, Cape Canaveral AFS, Florida, USA",1990-02-14 16:15:00+00:00,Delta II 6920-8 | LACE / RME,StatusRetired,NaN,Success,1990
1847,1847,1847,Boeing,"SLC-17A, Cape Canaveral AFS, Florida, USA",1990-01-30 21:56:00+00:00,Delta II 6925 | USA-64 (GPS II-9),StatusRetired,NaN,Success,1990
1849,1849,1849,Boeing,"SLC-17A, Cape Canaveral AFS, Florida, USA",1990-01-24 22:55:00+00:00,Delta II 6925 | USA-50 (GPS II-6),StatusRetired,NaN,Success,1990
1854,1854,1854,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1990-01-09 12:35:00+00:00,Space Shuttle Columbia | STS-32,StatusRetired,450.0,Success,1990
1855,1855,1855,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1990-01-01 00:07:00+00:00,Commercial Titan III | Skynet 4A & JCSAT-2,StatusRetired,136.6,Success,1990

In [27]:
#Drop unnamed columns
launches_90s.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
1214,Northrop,"SLC-576E, Vandenberg AFB, California, USA",1999-12-31 07:13:00+00:00,Minotaur C (Taurus) | KOMPSAT & ACRIMSAT,StatusActive,45.0,Success,1999
1218,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1999-12-20 00:50:00+00:00,Space Shuttle Discovery | STS-103,StatusRetired,450.0,Success,1999
1219,Lockheed,"SLC-3E, Vandenberg AFB, California, USA",1999-12-18 18:57:00+00:00,Atlas IIAS | Terra,StatusRetired,NaN,Success,1999
1220,Lockheed,"SLC-4W, Vandenberg AFB, California, USA",1999-12-12 17:36:00+00:00,Titan II(23)G | USA-147,StatusRetired,35.0,Success,1999
1223,Northrop,"Stargazer, Vandenberg AFB, California, USA",1999-12-04 18:53:00+00:00,Pegasus XL/HAPS | Orbcomm D1-D8,StatusActive,40.0,Success,1999
...,...,...,...,...,...,...,...,...
1842,Boeing,"SLC-17B, Cape Canaveral AFS, Florida, USA",1990-02-14 16:15:00+00:00,Delta II 6920-8 | LACE / RME,StatusRetired,NaN,Success,1990
1847,Boeing,"SLC-17A, Cape Canaveral AFS, Florida, USA",1990-01-30 21:56:00+00:00,Delta II 6925 | USA-64 (GPS II-9),StatusRetired,NaN,Success,1990
1849,Boeing,"SLC-17A, Cape Canaveral AFS, Florida, USA",1990-01-24 22:55:00+00:00,Delta II 6925 | USA-50 (GPS II-6),StatusRetired,NaN,Success,1990
1854,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1990-01-09 12:35:00+00:00,Space Shuttle Columbia | STS-32,StatusRetired,450.0,Success,1990
1855,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1990-01-01 00:07:00+00:00,Commercial Titan III | Skynet 4A & JCSAT-2,StatusRetired,136.6,Success,1990

In [28]:
#Create a filter to search between 1980 and 1989
filter_80s = (usa_df['Year'] >= 1980) & (usa_df['Year'] <= 1989)

#Create a dataframe using filter from above
launches_80s = usa_df.loc[filter_80s]

#Print dataframe
launches_80s

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
1857,1857,1857,Boeing,"SLC-17B, Cape Canaveral AFS, Florida, USA",1989-12-11 18:10:00+00:00,Delta II 6925 | NAVSTAR II-5,StatusRetired,NaN,Success,1989
1861,1861,1861,NASA,"LC-39B, Kennedy Space Center, Florida, USA",1989-11-23 00:23:00+00:00,Space Shuttle Discovery | STS-33R,StatusRetired,450.0,Success,1989
1864,1864,1864,NASA,"LC-39B, Kennedy Space Center, Florida, USA",1989-10-18 16:53:00+00:00,Space Shuttle Atlantis | STS-34R,StatusRetired,450.0,Success,1989
1868,1868,1868,General Dynamics,"SLC-36B, Cape Canaveral AFS, Florida, USA",1989-09-25 08:56:00+00:00,Atlas-G Centaur-D1AR | FLTSATCOM-8,StatusRetired,NaN,Success,1989
1870,1870,1870,Martin Marietta,"SLC-4W, Vandenberg AFB, California, USA",1989-09-06 01:48:00+00:00,Titan II(23)G | USA-45,StatusRetired,35.0,Success,1989
...,...,...,...,...,...,...,...,...,...,...
2466,2466,2466,General Dynamics,"SLC-3E, Vandenberg AFB, California, USA",1980-04-26 22:00:00+00:00,Atlas-E/F SGS-1 | GPS-6,StatusRetired,NaN,Success,1980
2474,2474,2474,General Dynamics,"SLC-3W, Vandenberg AFB, California, USA",1980-03-03 09:27:00+00:00,Atlas-E/F MSD | NOSS-3,StatusRetired,NaN,Success,1980
2479,2479,2479,General Dynamics,"SLC-3E, Vandenberg AFB, California, USA",1980-02-09 23:08:00+00:00,Atlas-E/F SGS-1 | GPS-5,StatusRetired,NaN,Success,1980
2480,2480,2480,Martin Marietta,"SLC-4E, Vandenberg AFB, California, USA",1980-02-07 21:10:00+00:00,Titan IIID | KH-11,StatusRetired,NaN,Success,1980
2484,2484,2484,General Dynamics,"SLC-36A, Cape Canaveral AFS, Florida, USA",1980-01-18 01:26:00+00:00,Atlas-SLV3D Centaur-D1AR | FLTSATCOM-3,StatusRetired,NaN,Success,1980

In [29]:
#Drop unnamed columns
launches_80s.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
1857,Boeing,"SLC-17B, Cape Canaveral AFS, Florida, USA",1989-12-11 18:10:00+00:00,Delta II 6925 | NAVSTAR II-5,StatusRetired,NaN,Success,1989
1861,NASA,"LC-39B, Kennedy Space Center, Florida, USA",1989-11-23 00:23:00+00:00,Space Shuttle Discovery | STS-33R,StatusRetired,450.0,Success,1989
1864,NASA,"LC-39B, Kennedy Space Center, Florida, USA",1989-10-18 16:53:00+00:00,Space Shuttle Atlantis | STS-34R,StatusRetired,450.0,Success,1989
1868,General Dynamics,"SLC-36B, Cape Canaveral AFS, Florida, USA",1989-09-25 08:56:00+00:00,Atlas-G Centaur-D1AR | FLTSATCOM-8,StatusRetired,NaN,Success,1989
1870,Martin Marietta,"SLC-4W, Vandenberg AFB, California, USA",1989-09-06 01:48:00+00:00,Titan II(23)G | USA-45,StatusRetired,35.0,Success,1989
...,...,...,...,...,...,...,...,...
2466,General Dynamics,"SLC-3E, Vandenberg AFB, California, USA",1980-04-26 22:00:00+00:00,Atlas-E/F SGS-1 | GPS-6,StatusRetired,NaN,Success,1980
2474,General Dynamics,"SLC-3W, Vandenberg AFB, California, USA",1980-03-03 09:27:00+00:00,Atlas-E/F MSD | NOSS-3,StatusRetired,NaN,Success,1980
2479,General Dynamics,"SLC-3E, Vandenberg AFB, California, USA",1980-02-09 23:08:00+00:00,Atlas-E/F SGS-1 | GPS-5,StatusRetired,NaN,Success,1980
2480,Martin Marietta,"SLC-4E, Vandenberg AFB, California, USA",1980-02-07 21:10:00+00:00,Titan IIID | KH-11,StatusRetired,NaN,Success,1980
2484,General Dynamics,"SLC-36A, Cape Canaveral AFS, Florida, USA",1980-01-18 01:26:00+00:00,Atlas-SLV3D Centaur-D1AR | FLTSATCOM-3,StatusRetired,NaN,Success,1980

In [30]:
#Create a filter to search between 1970 and 1979
filter_70s = (usa_df['Year'] >= 1970) & (usa_df['Year'] <= 1979)

#Create a dataframe using filter from above
launches_70s = usa_df.loc[filter_70s]

#Print dataframe
launches_70s

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
2490,2490,2490,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1979-11-21 02:09:00+00:00,Titan III(23)C | DSCS-II 13&14,StatusRetired,NaN,Success,1979
2497,2497,2497,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1979-10-01 11:22:00+00:00,Titan III(23)C | OPS-1948 (Vortex),StatusRetired,NaN,Success,1979
2499,2499,2499,General Dynamics,"SLC-36B, Cape Canaveral AFS, Florida, USA",1979-09-20 05:28:00+00:00,Atlas-SLV3D Centaur-D1AR | HEAO-3,StatusRetired,NaN,Success,1979
2510,2510,2510,General Dynamics,"SLC-3W, Vandenberg AFB, California, USA",1979-06-27 15:51:00+00:00,Atlas-E/F Star-37S-ISS | NOAA-A,StatusRetired,NaN,Success,1979
2511,2511,2511,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1979-06-10 13:30:00+00:00,Titan III(23)C | DSP-8,StatusRetired,NaN,Success,1979
...,...,...,...,...,...,...,...,...,...,...
3458,3458,3458,General Dynamics,"LC-13, Cape Canaveral AFS, Florida, USA",1970-06-19 11:37:00+00:00,Atlas-SLV3A Agena-D | AFP-720 (Rhyolite-1),StatusRetired,NaN,Success,1970
3473,3473,3473,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1970-04-15 15:52:00+00:00,Titan III(23)B | OPS 2863,StatusRetired,NaN,Success,1970
3475,3475,3475,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1970-04-11 19:13:00+00:00,Saturn V | Apollo 13,StatusRetired,"1,160.0",Success,1970
3477,3477,3477,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1970-04-08 10:50:00+00:00,Titan IIIC | Vela 11 & 12,StatusRetired,NaN,Success,1970
3497,3497,3497,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1970-01-14 18:43:00+00:00,Titan III(23)B | OPS 6531,StatusRetired,NaN,Success,1970

In [31]:
#Drop unnamed columns
launches_70s.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
2490,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1979-11-21 02:09:00+00:00,Titan III(23)C | DSCS-II 13&14,StatusRetired,NaN,Success,1979
2497,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1979-10-01 11:22:00+00:00,Titan III(23)C | OPS-1948 (Vortex),StatusRetired,NaN,Success,1979
2499,General Dynamics,"SLC-36B, Cape Canaveral AFS, Florida, USA",1979-09-20 05:28:00+00:00,Atlas-SLV3D Centaur-D1AR | HEAO-3,StatusRetired,NaN,Success,1979
2510,General Dynamics,"SLC-3W, Vandenberg AFB, California, USA",1979-06-27 15:51:00+00:00,Atlas-E/F Star-37S-ISS | NOAA-A,StatusRetired,NaN,Success,1979
2511,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1979-06-10 13:30:00+00:00,Titan III(23)C | DSP-8,StatusRetired,NaN,Success,1979
...,...,...,...,...,...,...,...,...
3458,General Dynamics,"LC-13, Cape Canaveral AFS, Florida, USA",1970-06-19 11:37:00+00:00,Atlas-SLV3A Agena-D | AFP-720 (Rhyolite-1),StatusRetired,NaN,Success,1970
3473,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1970-04-15 15:52:00+00:00,Titan III(23)B | OPS 2863,StatusRetired,NaN,Success,1970
3475,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1970-04-11 19:13:00+00:00,Saturn V | Apollo 13,StatusRetired,"1,160.0",Success,1970
3477,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1970-04-08 10:50:00+00:00,Titan IIIC | Vela 11 & 12,StatusRetired,NaN,Success,1970
3497,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1970-01-14 18:43:00+00:00,Titan III(23)B | OPS 6531,StatusRetired,NaN,Success,1970

In [33]:
#Create a filter to search between 1960 and 1969
filter_60s = (usa_df['Year'] >= 1960) & (usa_df['Year'] <= 1969)

#Create a dataframe using filter from above
launches_60s = usa_df.loc[filter_60s]

#Print dataframe
launches_60s

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
3511,3511,3511,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1969-11-14 16:22:00+00:00,Saturn V | Apollo 12,StatusRetired,"1,160.0",Success,1969
3515,3515,3515,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1969-10-24 18:10:00+00:00,Titan III(23)B | OPS 8455,StatusRetired,NaN,Success,1969
3534,3534,3534,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1969-08-23 16:00:00+00:00,Titan III(23)B | OPS 7807,StatusRetired,NaN,Success,1969
3539,3539,3539,General Dynamics,"SLC-36A, Cape Canaveral AFS, Florida, USA",1969-08-12 11:01:00+00:00,Atlas-SLV3C Centaur-D | ATS-5,StatusRetired,NaN,Success,1969
3545,3545,3545,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1969-07-16 13:32:00+00:00,Saturn V | Apollo 11,StatusRetired,"1,160.0",Success,1969
...,...,...,...,...,...,...,...,...,...,...
4268,4268,4268,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1960-04-01 11:40:00+00:00,Thor DM-18 Able-II | TIROS-1,StatusRetired,NaN,Success,1960
4269,4269,4269,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1960-03-11 13:00:00+00:00,Thor DM-18 Able-IV | Pioneer 5,StatusRetired,NaN,Success,1960
4270,4270,4270,General Dynamics,"LC-14, Cape Canaveral AFS, Florida, USA",1960-02-26 17:25:00+00:00,Atlas-LV3 Agena-A | Midas 1,StatusRetired,NaN,Failure,1960
4271,4271,4271,US Air Force,"SLC-1E (75-3-5), Vandenberg AFB, California, USA",1960-02-19 20:15:00+00:00,Thor-DM18 Agena-A | Discoverer 10,StatusRetired,NaN,Failure,1960
4272,4272,4272,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1960-02-04 18:51:00+00:00,Thor-DM18 Agena-A | Discoverer 9,StatusRetired,NaN,Failure,1960

In [34]:
#Drop unnamed columns
launches_60s.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
3511,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1969-11-14 16:22:00+00:00,Saturn V | Apollo 12,StatusRetired,"1,160.0",Success,1969
3515,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1969-10-24 18:10:00+00:00,Titan III(23)B | OPS 8455,StatusRetired,NaN,Success,1969
3534,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1969-08-23 16:00:00+00:00,Titan III(23)B | OPS 7807,StatusRetired,NaN,Success,1969
3539,General Dynamics,"SLC-36A, Cape Canaveral AFS, Florida, USA",1969-08-12 11:01:00+00:00,Atlas-SLV3C Centaur-D | ATS-5,StatusRetired,NaN,Success,1969
3545,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1969-07-16 13:32:00+00:00,Saturn V | Apollo 11,StatusRetired,"1,160.0",Success,1969
...,...,...,...,...,...,...,...,...
4268,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1960-04-01 11:40:00+00:00,Thor DM-18 Able-II | TIROS-1,StatusRetired,NaN,Success,1960
4269,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1960-03-11 13:00:00+00:00,Thor DM-18 Able-IV | Pioneer 5,StatusRetired,NaN,Success,1960
4270,General Dynamics,"LC-14, Cape Canaveral AFS, Florida, USA",1960-02-26 17:25:00+00:00,Atlas-LV3 Agena-A | Midas 1,StatusRetired,NaN,Failure,1960
4271,US Air Force,"SLC-1E (75-3-5), Vandenberg AFB, California, USA",1960-02-19 20:15:00+00:00,Thor-DM18 Agena-A | Discoverer 10,StatusRetired,NaN,Failure,1960
4272,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1960-02-04 18:51:00+00:00,Thor-DM18 Agena-A | Discoverer 9,StatusRetired,NaN,Failure,1960

In [35]:
#Create a filter to search between 1950 and 1959
filter_50s = (usa_df['Year'] >= 1950) & (usa_df['Year'] <= 1959)

#Create a dataframe using filter from above
launches_50s = usa_df.loc[filter_50s]

#Print dataframe
launches_50s

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
4273,4273,4273,General Dynamics,"LC-14, Cape Canaveral AFS, Florida, USA",1959-11-26 07:26:00+00:00,Atlas-D Able | Pioneer P-3,StatusRetired,NaN,Failure,1959
4274,4274,4274,US Air Force,"SLC-1E (75-3-5), Vandenberg AFB, California, USA",1959-11-20 19:25:00+00:00,Thor-DM18 Agena-A | Discoverer 8,StatusRetired,NaN,Failure,1959
4275,4275,4275,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1959-11-07 20:28:00+00:00,Thor-DM18 Agena-A | Discoverer 7,StatusRetired,NaN,Success,1959
4277,4277,4277,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1959-09-18 05:20:00+00:00,Vanguard | Vanguard 3,StatusRetired,NaN,Partial Failure,1959
4278,4278,4278,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1959-09-17 14:34:00+00:00,Thor DM-18 Able-II | Transit 1A,StatusRetired,NaN,Failure,1959
4280,4280,4280,NASA,"LC-14, Cape Canaveral AFS, Florida, USA",1959-09-09 08:19:00+00:00,Atlas-D Mercury | Big Joe 1,StatusRetired,NaN,Partial Failure,1959
4281,4281,4281,US Air Force,"SLC-1E (75-3-5), Vandenberg AFB, California, USA",1959-08-19 19:24:00+00:00,Thor-DM18 Agena-A | Discoverer 6,StatusRetired,NaN,Success,1959
4282,4282,4282,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1959-08-13 19:00:00+00:00,Thor-DM18 Agena-A | Discoverer 5,StatusRetired,NaN,Success,1959
4283,4283,4283,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1959-08-07 14:24:00+00:00,Thor DM-18 Able-III | Explorer 6,StatusRetired,NaN,Success,1959
4284,4284,4284,US Air Force,"SLC-1E (75-3-5), Vandenberg AFB, California, USA",1959-06-25 22:47:00+00:00,Thor-DM18 Agena-A | Discoverer 4,StatusRetired,NaN,Failure,1959
4285,4285,4285,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1959-06-22 20:16:00+00:00,Vanguard | Vanguard SLV-6,StatusRetired,NaN,Failure,1959
4287,4287,4287,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1959-06-03 20:09:00+00:00,Thor-DM18 Agena-A | Discoverer 3,StatusRetired,NaN,Failure,1959
4288,4288,4288,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1959-04-14 02:49:00+00:00,Vanguard | Vanguard SLV-5,StatusRetired,NaN,Failure,1959
4289,4289,4289,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1959-04-13 21:18:00+00:00,Thor-DM18 Agena-A | Discoverer 2,StatusRetired,NaN,Success,1959
4290,4290,4290,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1959-02-28 21:49:00+00:00,Thor-DM18 Agena-A | Discoverer 1,StatusRetired,NaN,Failure,1959
4291,4291,4291,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1959-02-17 15:55:00+00:00,Vanguard | Vanguard 2,StatusRetired,NaN,Success,1959
4293,4293,4293,US Air Force,"LC-11, Cape Canaveral AFS, Florida, USA",1958-12-18 23:02:00+00:00,SM-65B Atlas | SCORE,StatusRetired,NaN,Success,1958
4294,4294,4294,AMBA,"LC-5, Cape Canaveral AFS, Florida, USA",1958-12-06 05:44:00+00:00,Juno II | Pioneer 3,StatusRetired,NaN,Partial Failure,1958
4296,4296,4296,NASA,"SLC-17A, Cape Canaveral AFS, Florida, USA",1958-11-08 07:30:00+00:00,Thor-DM 18 Able I | Pioneer 2,StatusRetired,NaN,Failure,1958
4297,4297,4297,AMBA,"LC-5, Cape Canaveral AFS, Florida, USA",1958-10-23 03:21:00+00:00,Juno I | Beacon 1,StatusRetired,NaN,Failure,1958
4299,4299,4299,NASA,"SLC-17A, Cape Canaveral AFS, Florida, USA",1958-10-11 08:42:00+00:00,Thor-DM 18 Able I | Pioneer 1,StatusRetired,NaN,Partial Failure,1958
4300,4300,4300,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-09-26 15:38:00+00:00,Vanguard | Vanguard SLV-3,StatusRetired,NaN,Failure,1958
4302,4302,4302,US Navy,"Douglas F4D Skyray, Naval Air Station Point Mu...",1958-08-29 00:00:00+00:00,NOTS-EV-1 Pilot II | Pilot-6 (R3,StatusRetired,NaN,Failure,1958
4303,4303,4303,US Navy,"Douglas F4D Skyray, Naval Air Station Point Mu...",1958-08-26 00:00:00+00:00,NOTS-EV-1 Pilot II | Pilot-5 (R2),StatusRetired,NaN,Failure,1958
4304,4304,4304,US Navy,"Douglas F4D Skyray, Naval Air Station Point Mu...",1958-08-25 00:00:00+00:00,NOTS-EV-1 Pilot II | Pilot-4 (R1),StatusRetired,NaN,Failure,1958
4305,4305,4305,AMBA,"LC-5, Cape Canaveral AFS, Florida, USA",1958-08-24 06:17:00+00:00,Juno I | Explorer 5,StatusRetired,NaN,Failure,1958
4306,4306,4306,US Navy,"Douglas F4D Skyray, Naval Air Station Point Mu...",1958-08-22 00:00:00+00:00,NOTS-EV-1 Pilot II | Pilot-3 (D3),StatusRetired,NaN,Failure,1958
4307,4307,4307,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1958-08-17 12:18:00+00:00,Thor-DM 18 Able I | Pioneer 0,StatusRetired,NaN,Failure,1958
4308,4308,4308,US Navy,"Douglas F4D Skyray, Naval Air Station Point Mu...",1958-08-12 00:00:00+00:00,NOTS-EV-1 Pilot II | Pilot-2 (D2),StatusRetired,NaN,Failure,1958
4309,4309,4309,AMBA,"LC-5, Cape Canaveral AFS, Florida, USA",1958-07-26 15:00:00+00:00,Juno I | Explorer 4,StatusRetired,NaN,Success,1958
4310,4310,4310,US Navy,"Douglas F4D Skyray, Naval Air Station Point Mu...",1958-07-25 00:00:00+00:00,NOTS-EV-1 Pilot II | Pilot-1 (D1),StatusRetired,NaN,Failure,1958
4311,4311,4311,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-06-26 05:00:00+00:00,Vanguard | Vanguard SLV-2,StatusRetired,NaN,Failure,1958
4312,4312,4312,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-05-28 03:46:00+00:00,Vanguard | Vanguard SLV-1,StatusRetired,NaN,Failure,1958
4314,4314,4314,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-04-28 02:53:00+00:00,Vanguard | Vanguard TV5,StatusRetired,NaN,Failure,1958
4316,4316,4316,AMBA,"LC-5, Cape Canaveral AFS, Florida, USA",1958-03-26 17:38:00+00:00,Juno I | Explorer 3,StatusRetired,NaN,Success,1958
4317,4317,4317,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-03-17 12:15:00+00:00,Vanguard | Vanguard 1,StatusRetired,NaN,Success,1958
4318,4318,4318,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-03-05 18:27:00+00:00,Juno I | Explorer 2,StatusRetired,NaN,Failure,1958
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00+00:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,1958
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00+00:00,Juno I | Explorer 1,StatusRetired,NaN,Success,1958
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00+00:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,1957

In [36]:
#Drop unnamed columns
launches_60s.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Year
3511,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1969-11-14 16:22:00+00:00,Saturn V | Apollo 12,StatusRetired,"1,160.0",Success,1969
3515,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1969-10-24 18:10:00+00:00,Titan III(23)B | OPS 8455,StatusRetired,NaN,Success,1969
3534,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1969-08-23 16:00:00+00:00,Titan III(23)B | OPS 7807,StatusRetired,NaN,Success,1969
3539,General Dynamics,"SLC-36A, Cape Canaveral AFS, Florida, USA",1969-08-12 11:01:00+00:00,Atlas-SLV3C Centaur-D | ATS-5,StatusRetired,NaN,Success,1969
3545,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1969-07-16 13:32:00+00:00,Saturn V | Apollo 11,StatusRetired,"1,160.0",Success,1969
...,...,...,...,...,...,...,...,...
4268,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1960-04-01 11:40:00+00:00,Thor DM-18 Able-II | TIROS-1,StatusRetired,NaN,Success,1960
4269,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1960-03-11 13:00:00+00:00,Thor DM-18 Able-IV | Pioneer 5,StatusRetired,NaN,Success,1960
4270,General Dynamics,"LC-14, Cape Canaveral AFS, Florida, USA",1960-02-26 17:25:00+00:00,Atlas-LV3 Agena-A | Midas 1,StatusRetired,NaN,Failure,1960
4271,US Air Force,"SLC-1E (75-3-5), Vandenberg AFB, California, USA",1960-02-19 20:15:00+00:00,Thor-DM18 Agena-A | Discoverer 10,StatusRetired,NaN,Failure,1960
4272,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1960-02-04 18:51:00+00:00,Thor-DM18 Agena-A | Discoverer 9,StatusRetired,NaN,Failure,1960