In [87]:
#Dependencies
import pandas as pd
import numpy as np
import datetime as dt

In [88]:
#Filepath to csv file
file1 = "Space_Corrected.csv"
file2 = "SpaceMissions.csv"

In [89]:
#Create dataframes from csv files
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

#Show first dataframe
df1

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145,Success
...,...,...,...,...,...,...,...
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

In [90]:
#Show second dataframe
df2

,Company,Launch Date,Launch Time,Launch Site,Temperature (° F),Wind speed (MPH),Humidity (%),Vehicle Type,Liftoff Thrust (kN),Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason
0,SpaceX,24 March 2006,22:30,Marshall Islands,86.0,9.0,74.0,Falcon 1,343,470,22.25,1.5,FalconSAT-2,Research Satellite,19.5,Low Earth Orbit,Failure,Engine Fire During Launch
1,SpaceX,21 March 2007,1:10,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,DemoSat,Mass simulator,NaN,Low Earth Orbit,Failure,Engine Shutdown During Launch
2,SpaceX,3 August 2008,3:34,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,Trailblazer,Communication Satellite,NaN,Low Earth Orbit,Failure,Collision During Launch
3,SpaceX,3 August 2008,3:34,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,"PRESat, NanoSail-D",Research Satellites,8,Low Earth Orbit,Failure,Collision During Launch
4,SpaceX,3 August 2008,3:34,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,Explorers,Human Remains,NaN,Low Earth Orbit,Failure,Collision During Launch
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Boeing,11 February 2002,17:43,Vandenberg,51.0,0.0,66.0,Delta II 7920-10C,3511,4800,38.90,3.0,Iridium IS-1,Communication Satellite,689,Low Earth Orbit,Success,NaN
146,Boeing,4 May 2002,9:54,Vandenberg,59.0,8.0,67.0,Delta II 7920-10C,3511,4800,38.90,3.0,Aqua,Research Satellite,3117,Low Earth Orbit,Success,NaN
147,Boeing,3 July 2002,6:47,Cape Canaveral,76.0,3.0,87.0,Delta II 7425,3020,1110,38.10,2.9,CONTOUR,Space Probe,328,Heliocentric Orbit,Success,NaN
148,Boeing,20 November 2002,22:39,Cape Canaveral,72.0,5.0,73.0,"Delta IV Medium+ (4,2)",4895,6390,62.50,4.0,Eutelsat W5,Communication Satellite,3170,Geostationary Transfer Orbit,Success,NaN
149,Boeing,13 January 2003,0:45,Vandenberg,50.0,0.0,100.0,Delta II 7320-10C,2533,2703,38.90,3.0,ICESat,Research Satellite,970,Sun-Synchronous Orbit,Success,NaN

In [91]:
#Merging both dataframes
space_df = pd.concat([df1, df2], axis=0, ignore_index=True)

space_df

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Company,Launch Date,Launch Time,...,Liftoff Thrust (kN),Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,11 February 2002,17:43,...,3511.0,4800.0,38.9,3.0,Iridium IS-1,Communication Satellite,689,Low Earth Orbit,Success,NaN
4470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,4 May 2002,9:54,...,3511.0,4800.0,38.9,3.0,Aqua,Research Satellite,3117,Low Earth Orbit,Success,NaN
4471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,3 July 2002,6:47,...,3020.0,1110.0,38.1,2.9,CONTOUR,Space Probe,328,Heliocentric Orbit,Success,NaN
4472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,20 November 2002,22:39,...,4895.0,6390.0,62.5,4.0,Eutelsat W5,Communication Satellite,3170,Geostationary Transfer Orbit,Success,NaN
4473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,13 January 2003,0:45,...,2533.0,2703.0,38.9,3.0,ICESat,Research Satellite,970,Sun-Synchronous Orbit,Success,NaN

In [92]:
space_df.dropna(how='all')

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Company,Launch Date,Launch Time,...,Liftoff Thrust (kN),Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,11 February 2002,17:43,...,3511.0,4800.0,38.9,3.0,Iridium IS-1,Communication Satellite,689,Low Earth Orbit,Success,NaN
4470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,4 May 2002,9:54,...,3511.0,4800.0,38.9,3.0,Aqua,Research Satellite,3117,Low Earth Orbit,Success,NaN
4471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,3 July 2002,6:47,...,3020.0,1110.0,38.1,2.9,CONTOUR,Space Probe,328,Heliocentric Orbit,Success,NaN
4472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,20 November 2002,22:39,...,4895.0,6390.0,62.5,4.0,Eutelsat W5,Communication Satellite,3170,Geostationary Transfer Orbit,Success,NaN
4473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Boeing,13 January 2003,0:45,...,2533.0,2703.0,38.9,3.0,ICESat,Research Satellite,970,Sun-Synchronous Orbit,Success,NaN

In [93]:
#Convert ['Datum'] column to datetime datatype
space_df['Datum'] = pd.to_datetime(space_df['Datum'], utc=True)

In [94]:
#Create dataframe of only US launches
usa_df = space_df.loc[space_df['Location'].str.slice(-3) == 'USA']

#Print dataframe
usa_df

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Company,Launch Date,Launch Time,...,Liftoff Thrust (kN),Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-07-20 21:30:00+00:00,Falcon 9 Block 5 | ANASIS-II,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Northrop,"LP-0B, Wallops Flight Facility, Virginia, USA",2020-07-15 13:46:00+00:00,Minotaur IV | NROL-129,StatusActive,46,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4317,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-03-17 12:15:00+00:00,Vanguard | Vanguard 1,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4318,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-03-05 18:27:00+00:00,Juno I | Explorer 2,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00+00:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00+00:00,Juno I | Explorer 1,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00+00:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
#Create a filter to search for launches that occured only during 2020
filter = pd.DatetimeIndex(usa_df['Datum']).year

#Create a year column and fill with the year of the launch for future data manipulation
usa_df['Year'] = filter

#Create new dataframe where launches occured in 2020
launches_20s = usa_df[usa_df['Year'] == 2020]

#Print dataframe
launches_20s

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Company,Launch Date,Launch Time,...,Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason,Year
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
8,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-07-20 21:30:00+00:00,Falcon 9 Block 5 | ANASIS-II,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
10,Northrop,"LP-0B, Wallops Flight Facility, Virginia, USA",2020-07-15 13:46:00+00:00,Minotaur IV | NROL-129,StatusActive,46,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
17,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-06-30 20:10:00+00:00,Falcon 9 Block 5 | GPS III SV03,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
20,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-06-13 09:21:00+00:00,Falcon 9 Block 5 | Starlink V1 L8 & SkySat 16 ...,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
23,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-06-04 01:25:00+00:00,Falcon 9 Block 5 | Starlink V1 L7,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
25,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-05-30 19:22:00+00:00,Falcon 9 Block 5 | SpaceX Demo-2,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
27,Virgin Orbit,"Cosmic Girl, Mojave Air and Space Port, Califo...",2020-05-25 19:50:00+00:00,LauncherOne | Demo Flight,StatusActive,12,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
30,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-05-17 13:14:00+00:00,Atlas V 501 | OTV-6 (USSF-7),StatusActive,120,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
34,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-04-22 19:30:00+00:00,Falcon 9 Block 5 | Starlink V1 L6,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
38,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-03-26 20:18:00+00:00,Atlas V 551 | AEHF 6,StatusActive,153,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
41,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-03-18 12:16:00+00:00,Falcon 9 Block 5 | Starlink V1 L5,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
45,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-03-07 04:50:00+00:00,Falcon 9 Block 5 | CRS-20,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
49,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-02-17 15:05:00+00:00,Falcon 9 Block 5 | Starlink V1 L4,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
50,Northrop,"LP-0A, Wallops Flight Facility, Virginia, USA",2020-02-15 20:21:00+00:00,Antares 230+ | CRS NG-13,StatusActive,85,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
51,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-02-10 04:03:00+00:00,Atlas V 411 | Solar Orbiter,StatusActive,115,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
56,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-01-29 14:06:00+00:00,Falcon 9 Block 5 | Starlink V1 L3,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
57,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-01-19 15:30:00+00:00,Falcon 9 Block 5 | Crew Dragon Inflight Abort ...,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
62,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2020-01-07 02:19:00+00:00,Falcon 9 Block 5 | Starlink V1 L2,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020

In [96]:
#Create a filter to search between 2010 and 2019
filter_10s = (usa_df['Year'] >= 2010) & (usa_df['Year'] <= 2019)

#Create dataframe using criteria of filter above
launches_10s = usa_df.loc[filter_10s]

# #Print dataframe
launches_10s

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Company,Launch Date,Launch Time,...,Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason,Year
66,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2019-12-20 11:36:00+00:00,Atlas V N22 | Starliner OFT,StatusActive,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
69,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2019-12-17 00:10:00+00:00,Falcon 9 Block 5 | JCSAT-18 / Kacific-1,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
71,Blue Origin,"Blue Origin Launch Site, West Texas, Texas, USA",2019-12-11 17:55:00+00:00,New Shepard | NS-12,StatusActive,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
78,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2019-12-05 17:29:00+00:00,Falcon 9 Block 5 | CRS-19,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
87,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA",2019-11-11 14:56:00+00:00,Falcon 9 Block 5 | Starlink V1 L1,StatusActive,50,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2010-04-22 23:52:00+00:00,Atlas V 501 | OTV-1,StatusActive,120,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010
733,NASA,"LC-39A, Kennedy Space Center, Florida, USA",2010-04-05 10:21:00+00:00,Space Shuttle Discovery | STS-131,StatusRetired,450,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010
735,ULA,"SLC-37B, Cape Canaveral AFS, Florida, USA",2010-03-04 23:57:00+00:00,"Delta IV Medium+ (4,2) | GOES 15",StatusRetired,164,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010
736,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2010-02-11 15:23:00+00:00,Atlas V 401 | SDO,StatusActive,109,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010
737,NASA,"LC-39A, Kennedy Space Center, Florida, USA",2010-02-08 09:14:00+00:00,Space Shuttle Endeavour | STS-130,StatusRetired,450,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010

In [97]:
#Create a filter to search between 2000 and 2009
filter_00s = (usa_df['Year'] >= 2000) & (usa_df['Year'] <= 2009)

#Create a dataframe using filter from above
launches_00s = usa_df.loc[filter_00s]

#Print dataframe
launches_00s

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Company,Launch Date,Launch Time,...,Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason,Year
740,ULA,"SLC-2W, Vandenberg AFB, California, USA",2009-12-14 14:09:00+00:00,Delta II 7320-10C | WISE,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
741,ULA,"SLC-37B, Cape Canaveral AFS, Florida, USA",2009-12-06 01:47:00+00:00,"Delta IV Medium+ (5,4) | WGS-3",StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
744,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2009-11-23 06:55:00+00:00,Atlas V 431 | Intersat 14,StatusActive,130,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
745,NASA,"LC-39A, Kennedy Space Center, Florida, USA",2009-11-16 19:28:00+00:00,Space Shuttle Atlantis | STS-129,StatusRetired,450,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
748,NASA,"LC-39B, Kennedy Space Center, Florida, USA",2009-10-28 15:30:00+00:00,Ares 1-X | Ares 1-X Test Flight,StatusRetired,450,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1206,NASA,"LC-39A, Kennedy Space Center, Florida, USA",2000-02-11 16:43:00+00:00,Space Shuttle Endeavour | STS-99,StatusRetired,450,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
1208,Boeing,"SLC-17B, Cape Canaveral AFS, Florida, USA",2000-02-08 21:24:00+00:00,Delta II 7920-10C | Globalstar 7,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
1209,ILS,"SLC-36B, Cape Canaveral AFS, Florida, USA",2000-02-03 23:30:00+00:00,Atlas IIAS | Hispasat 1C,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
1210,Northrop,"SLC-8, Vandenberg AFB, California, USA",2000-01-27 03:03:00+00:00,Minotaur I | JAWSat,StatusActive,40,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000
1213,Lockheed,"SLC-36A, Cape Canaveral AFS, Florida, USA",2000-01-21 01:03:00+00:00,Atlas IIA | DSCS IIIB-8,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000

In [99]:
#Create a filter to search between 2000 and 2009
filter_90s = (usa_df['Year'] >= 1990) & (usa_df['Year'] <= 1999)

#Create a dataframe using filter from above
launches_90s = usa_df.loc[filter_90s]

#Print dataframe
launches_90s

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Company,Launch Date,Launch Time,...,Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason,Year
1214,Northrop,"SLC-576E, Vandenberg AFB, California, USA",1999-12-31 07:13:00+00:00,Minotaur C (Taurus) | KOMPSAT & ACRIMSAT,StatusActive,45,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999
1218,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1999-12-20 00:50:00+00:00,Space Shuttle Discovery | STS-103,StatusRetired,450,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999
1219,Lockheed,"SLC-3E, Vandenberg AFB, California, USA",1999-12-18 18:57:00+00:00,Atlas IIAS | Terra,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999
1220,Lockheed,"SLC-4W, Vandenberg AFB, California, USA",1999-12-12 17:36:00+00:00,Titan II(23)G | USA-147,StatusRetired,35,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999
1223,Northrop,"Stargazer, Vandenberg AFB, California, USA",1999-12-04 18:53:00+00:00,Pegasus XL/HAPS | Orbcomm D1-D8,StatusActive,40,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1842,Boeing,"SLC-17B, Cape Canaveral AFS, Florida, USA",1990-02-14 16:15:00+00:00,Delta II 6920-8 | LACE / RME,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990
1847,Boeing,"SLC-17A, Cape Canaveral AFS, Florida, USA",1990-01-30 21:56:00+00:00,Delta II 6925 | USA-64 (GPS II-9),StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990
1849,Boeing,"SLC-17A, Cape Canaveral AFS, Florida, USA",1990-01-24 22:55:00+00:00,Delta II 6925 | USA-50 (GPS II-6),StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990
1854,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1990-01-09 12:35:00+00:00,Space Shuttle Columbia | STS-32,StatusRetired,450,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990
1855,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1990-01-01 00:07:00+00:00,Commercial Titan III | Skynet 4A & JCSAT-2,StatusRetired,136.6,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990

In [100]:
#Create a filter to search between 1980 and 1989
filter_80s = (usa_df['Year'] >= 1980) & (usa_df['Year'] <= 1989)

#Create a dataframe using filter from above
launches_80s = usa_df.loc[filter_80s]

#Print dataframe
launches_80s

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Company,Launch Date,Launch Time,...,Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason,Year
1857,Boeing,"SLC-17B, Cape Canaveral AFS, Florida, USA",1989-12-11 18:10:00+00:00,Delta II 6925 | NAVSTAR II-5,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1989
1861,NASA,"LC-39B, Kennedy Space Center, Florida, USA",1989-11-23 00:23:00+00:00,Space Shuttle Discovery | STS-33R,StatusRetired,450,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1989
1864,NASA,"LC-39B, Kennedy Space Center, Florida, USA",1989-10-18 16:53:00+00:00,Space Shuttle Atlantis | STS-34R,StatusRetired,450,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1989
1868,General Dynamics,"SLC-36B, Cape Canaveral AFS, Florida, USA",1989-09-25 08:56:00+00:00,Atlas-G Centaur-D1AR | FLTSATCOM-8,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1989
1870,Martin Marietta,"SLC-4W, Vandenberg AFB, California, USA",1989-09-06 01:48:00+00:00,Titan II(23)G | USA-45,StatusRetired,35,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2466,General Dynamics,"SLC-3E, Vandenberg AFB, California, USA",1980-04-26 22:00:00+00:00,Atlas-E/F SGS-1 | GPS-6,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980
2474,General Dynamics,"SLC-3W, Vandenberg AFB, California, USA",1980-03-03 09:27:00+00:00,Atlas-E/F MSD | NOSS-3,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980
2479,General Dynamics,"SLC-3E, Vandenberg AFB, California, USA",1980-02-09 23:08:00+00:00,Atlas-E/F SGS-1 | GPS-5,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980
2480,Martin Marietta,"SLC-4E, Vandenberg AFB, California, USA",1980-02-07 21:10:00+00:00,Titan IIID | KH-11,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980
2484,General Dynamics,"SLC-36A, Cape Canaveral AFS, Florida, USA",1980-01-18 01:26:00+00:00,Atlas-SLV3D Centaur-D1AR | FLTSATCOM-3,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980

In [101]:
#Create a filter to search between 1970 and 1979
filter_70s = (usa_df['Year'] >= 1970) & (usa_df['Year'] <= 1979)

#Create a dataframe using filter from above
launches_70s = usa_df.loc[filter_70s]

#Print dataframe
launches_70s

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Company,Launch Date,Launch Time,...,Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason,Year
2490,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1979-11-21 02:09:00+00:00,Titan III(23)C | DSCS-II 13&14,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1979
2497,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1979-10-01 11:22:00+00:00,Titan III(23)C | OPS-1948 (Vortex),StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1979
2499,General Dynamics,"SLC-36B, Cape Canaveral AFS, Florida, USA",1979-09-20 05:28:00+00:00,Atlas-SLV3D Centaur-D1AR | HEAO-3,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1979
2510,General Dynamics,"SLC-3W, Vandenberg AFB, California, USA",1979-06-27 15:51:00+00:00,Atlas-E/F Star-37S-ISS | NOAA-A,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1979
2511,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1979-06-10 13:30:00+00:00,Titan III(23)C | DSP-8,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3458,General Dynamics,"LC-13, Cape Canaveral AFS, Florida, USA",1970-06-19 11:37:00+00:00,Atlas-SLV3A Agena-D | AFP-720 (Rhyolite-1),StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970
3473,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1970-04-15 15:52:00+00:00,Titan III(23)B | OPS 2863,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970
3475,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1970-04-11 19:13:00+00:00,Saturn V | Apollo 13,StatusRetired,"1,160.00",Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970
3477,Martin Marietta,"SLC-40, Cape Canaveral AFS, Florida, USA",1970-04-08 10:50:00+00:00,Titan IIIC | Vela 11 & 12,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970
3497,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1970-01-14 18:43:00+00:00,Titan III(23)B | OPS 6531,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970

In [102]:
#Create a filter to search between 1960 and 1969
filter_60s = (usa_df['Year'] >= 1960) & (usa_df['Year'] <= 1969)

#Create a dataframe using filter from above
launches_60s = usa_df.loc[filter_60s]

#Print dataframe
launches_60s

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Company,Launch Date,Launch Time,...,Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason,Year
3511,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1969-11-14 16:22:00+00:00,Saturn V | Apollo 12,StatusRetired,"1,160.00",Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1969
3515,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1969-10-24 18:10:00+00:00,Titan III(23)B | OPS 8455,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1969
3534,US Air Force,"SLC-4W, Vandenberg AFB, California, USA",1969-08-23 16:00:00+00:00,Titan III(23)B | OPS 7807,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1969
3539,General Dynamics,"SLC-36A, Cape Canaveral AFS, Florida, USA",1969-08-12 11:01:00+00:00,Atlas-SLV3C Centaur-D | ATS-5,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1969
3545,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1969-07-16 13:32:00+00:00,Saturn V | Apollo 11,StatusRetired,"1,160.00",Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4268,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1960-04-01 11:40:00+00:00,Thor DM-18 Able-II | TIROS-1,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1960
4269,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1960-03-11 13:00:00+00:00,Thor DM-18 Able-IV | Pioneer 5,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1960
4270,General Dynamics,"LC-14, Cape Canaveral AFS, Florida, USA",1960-02-26 17:25:00+00:00,Atlas-LV3 Agena-A | Midas 1,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1960
4271,US Air Force,"SLC-1E (75-3-5), Vandenberg AFB, California, USA",1960-02-19 20:15:00+00:00,Thor-DM18 Agena-A | Discoverer 10,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1960
4272,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1960-02-04 18:51:00+00:00,Thor-DM18 Agena-A | Discoverer 9,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1960

In [103]:
#Create a filter to search between 1950 and 1959
filter_50s = (usa_df['Year'] >= 1950) & (usa_df['Year'] <= 1959)

#Create a dataframe using filter from above
launches_50s = usa_df.loc[filter_50s]

#Print dataframe
launches_50s

,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission,Company,Launch Date,Launch Time,...,Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason,Year
4273,General Dynamics,"LC-14, Cape Canaveral AFS, Florida, USA",1959-11-26 07:26:00+00:00,Atlas-D Able | Pioneer P-3,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4274,US Air Force,"SLC-1E (75-3-5), Vandenberg AFB, California, USA",1959-11-20 19:25:00+00:00,Thor-DM18 Agena-A | Discoverer 8,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4275,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1959-11-07 20:28:00+00:00,Thor-DM18 Agena-A | Discoverer 7,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4277,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1959-09-18 05:20:00+00:00,Vanguard | Vanguard 3,StatusRetired,NaN,Partial Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4278,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1959-09-17 14:34:00+00:00,Thor DM-18 Able-II | Transit 1A,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4280,NASA,"LC-14, Cape Canaveral AFS, Florida, USA",1959-09-09 08:19:00+00:00,Atlas-D Mercury | Big Joe 1,StatusRetired,NaN,Partial Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4281,US Air Force,"SLC-1E (75-3-5), Vandenberg AFB, California, USA",1959-08-19 19:24:00+00:00,Thor-DM18 Agena-A | Discoverer 6,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4282,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1959-08-13 19:00:00+00:00,Thor-DM18 Agena-A | Discoverer 5,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4283,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1959-08-07 14:24:00+00:00,Thor DM-18 Able-III | Explorer 6,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4284,US Air Force,"SLC-1E (75-3-5), Vandenberg AFB, California, USA",1959-06-25 22:47:00+00:00,Thor-DM18 Agena-A | Discoverer 4,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4285,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1959-06-22 20:16:00+00:00,Vanguard | Vanguard SLV-6,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4287,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1959-06-03 20:09:00+00:00,Thor-DM18 Agena-A | Discoverer 3,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4288,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1959-04-14 02:49:00+00:00,Vanguard | Vanguard SLV-5,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4289,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1959-04-13 21:18:00+00:00,Thor-DM18 Agena-A | Discoverer 2,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4290,US Air Force,"SLC-1W (75-3-4), Vandenberg AFB, California, USA",1959-02-28 21:49:00+00:00,Thor-DM18 Agena-A | Discoverer 1,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4291,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1959-02-17 15:55:00+00:00,Vanguard | Vanguard 2,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959
4293,US Air Force,"LC-11, Cape Canaveral AFS, Florida, USA",1958-12-18 23:02:00+00:00,SM-65B Atlas | SCORE,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4294,AMBA,"LC-5, Cape Canaveral AFS, Florida, USA",1958-12-06 05:44:00+00:00,Juno II | Pioneer 3,StatusRetired,NaN,Partial Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4296,NASA,"SLC-17A, Cape Canaveral AFS, Florida, USA",1958-11-08 07:30:00+00:00,Thor-DM 18 Able I | Pioneer 2,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4297,AMBA,"LC-5, Cape Canaveral AFS, Florida, USA",1958-10-23 03:21:00+00:00,Juno I | Beacon 1,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4299,NASA,"SLC-17A, Cape Canaveral AFS, Florida, USA",1958-10-11 08:42:00+00:00,Thor-DM 18 Able I | Pioneer 1,StatusRetired,NaN,Partial Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4300,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-09-26 15:38:00+00:00,Vanguard | Vanguard SLV-3,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4302,US Navy,"Douglas F4D Skyray, Naval Air Station Point Mu...",1958-08-29 00:00:00+00:00,NOTS-EV-1 Pilot II | Pilot-6 (R3,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4303,US Navy,"Douglas F4D Skyray, Naval Air Station Point Mu...",1958-08-26 00:00:00+00:00,NOTS-EV-1 Pilot II | Pilot-5 (R2),StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4304,US Navy,"Douglas F4D Skyray, Naval Air Station Point Mu...",1958-08-25 00:00:00+00:00,NOTS-EV-1 Pilot II | Pilot-4 (R1),StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4305,AMBA,"LC-5, Cape Canaveral AFS, Florida, USA",1958-08-24 06:17:00+00:00,Juno I | Explorer 5,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4306,US Navy,"Douglas F4D Skyray, Naval Air Station Point Mu...",1958-08-22 00:00:00+00:00,NOTS-EV-1 Pilot II | Pilot-3 (D3),StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4307,US Air Force,"SLC-17A, Cape Canaveral AFS, Florida, USA",1958-08-17 12:18:00+00:00,Thor-DM 18 Able I | Pioneer 0,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4308,US Navy,"Douglas F4D Skyray, Naval Air Station Point Mu...",1958-08-12 00:00:00+00:00,NOTS-EV-1 Pilot II | Pilot-2 (D2),StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4309,AMBA,"LC-5, Cape Canaveral AFS, Florida, USA",1958-07-26 15:00:00+00:00,Juno I | Explorer 4,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4310,US Navy,"Douglas F4D Skyray, Naval Air Station Point Mu...",1958-07-25 00:00:00+00:00,NOTS-EV-1 Pilot II | Pilot-1 (D1),StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4311,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-06-26 05:00:00+00:00,Vanguard | Vanguard SLV-2,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4312,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-05-28 03:46:00+00:00,Vanguard | Vanguard SLV-1,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4314,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-04-28 02:53:00+00:00,Vanguard | Vanguard TV5,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4316,AMBA,"LC-5, Cape Canaveral AFS, Florida, USA",1958-03-26 17:38:00+00:00,Juno I | Explorer 3,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4317,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-03-17 12:15:00+00:00,Vanguard | Vanguard 1,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4318,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-03-05 18:27:00+00:00,Juno I | Explorer 2,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00+00:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00+00:00,Juno I | Explorer 1,StatusRetired,NaN,Success,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1958
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00+00:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1957